.content{
    padding: 0 30px 30px;
    min-height: calc(100vh - 123px);
    margin-top: 130px;
}

.navbar{
    margin-bottom: 0;
}

.bg-dark-blue {
    background-color: rgb(0, 32, 53);
}

.header{
    margin-bottom: 50px;
}